.hero .container {
  /* position: relative; */
  padding-top: 227px;
  padding-bottom: 358px;
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  background-image: url(../../img/img-hero1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-family: 'Harabara', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  width: 550px;
  margin-bottom: 24px;
}
.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #fff;
  width: 551px;
  margin-bottom: 40px;
}
.hero-btn-wrapp {
  display: flex;
  flex-direction: row;
  gap: 24px;
  /* justify-content: center;
  align-items: center; */
}
.hero-btn-wrapp-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  width: 160px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.25;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: all 350ms ease-in-out;
}
.hero-btn-wrapp-more:hover,
.hero-btn-wrapp-more:focus {
  background-color: #fff;
  color: black;
  border: none;
  border: 2px solid #000000;
  transform: scale(1.1);
}
.hero-btn-wrapp-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  width: 160px;
  height: 42px;
  border-radius: 6px;
  background-color: #06b25f;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.25;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: all 350ms ease-in-out;
}
.hero-btn-wrapp-contact:hover,
.hero-btn-wrapp-contact:focus {
  background-color: #fff;
  color: black;
  border: 2px solid #000000;
  transform: scale(1.1);
}
.hero-nav-list {
  position: absolute;
  right: 0;
  top: 450px;
  box-shadow: 0 2px 12px 1px rgba(29, 51, 107, 0.25);
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}
.hero-nav-list-item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-nav-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(19, 44, 84, 0.1);
}
